.main-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    /* margin-top: 20vh; */
    background-image: -webkit-gradient(linear, left top, right top, from(#673ab7), to(#9c27b0)) !important;
    background-image: linear-gradient(to right, #673ab7 0%, #9c27b0 100%) !important;
}