<div class="main-container">
    <div class="container padding-bottom-3x mb-2">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10" style="width: 700px">
                <form class="card mt-4" [formGroup]="tokenConfirmationForm" (ngSubmit)="onSubmit()">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="token">Token Confirmation</label>
                            <input type="text" class="form-control" id="token" formControlName="">
                            <small class="form-text text-muted">Enter the token sent to your email to activate your account.</small>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button mat-flat-button type="submit" color="accent"  class="left-spacing">Save</button>
                        <button mat-flat-button type="button" color="primary" routerLink="/home" style="margin-left: 20px;">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


