<div fxLayout="column">
    <div fxFlex>
        <app-toolbar-customer></app-toolbar-customer>
    </div>
    <div fxFlex>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container margin">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-9" *ngFor="let cartdto of cartdtos">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">
                            <tbody>
                            <tr>
                                <td width="90">
                                    <img mat-card-image style="width:100px;" src="http://img.dxcdn.com/productimages/sku_543622_1.jpg">
                                </td>
                                <td class="desc">
                                    <h3>
                                    <p class="text-navy">
                                        {{cartdto.product.title}}
                                    </p>
                                    </h3>
                                    <p class="small">
                                        {{cartdto.product.description}}
                                    </p>
                                    <dl class="small m-b-none">
                                        <dt>Brand</dt>
                                        <dd>{{cartdto.product.brand}}</dd>
                                    </dl>

                                    <dl class="small m-b-none">
                                        <dt>Color</dt>
                                        <dd>{{cartdto.product.colour}}</dd>
                                    </dl>

                                    <dl class="small m-b-none">
                                        <dt>Category</dt>
                                        <dd>{{cartdto.product.category}}</dd>
                                    </dl>
                                    <!-- class="m-t-sm" -->
                                    <div>
                                        <button mat-button (click)="removeCartItem(cartdto.cartItemId)"><mat-icon color="warn">delete</mat-icon> Remove item</button>
                                    </div>
                                </td>

                                <td>
                                    ${{cartdto.product.price}}.00
                                </td>
                                <td width="65">
                                    <input type="text" class="form-control" placeholder="{{cartdto.quantity}}">
                                </td>
                                <td>
                                    <h4>
                                        ${{cartdto.subtotal}}.00
                                    </h4>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="ibox-content">
                    <button  mat-flat-button style="margin-left:10px;" color="primary" type="button" routerLink="/home">Continue shopping</button>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="ibox">
                <form [formGroup]="orderForm" (ngSubmit)="checkout()">
                    <div class="ibox-title">
                        <h5>Cart Summary</h5>
                    </div>
                    <div class="ibox-content">
                        <span>
                            <label for="deliveryAddress">Delivery Address</label>
                            <input type="text" class="form-control" id="deliveryAddress" formControlName="deliveryAddress"><br>
                            <small color="warn" *ngIf="formControls.deliveryAddress.errors && formControls.deliveryAddress.errors['required']">required*</small>
                        </span>
                        <div  style="margin-top: 20px;"></div>
                        <span>
                            Subtotal
                        </span>
                        <h4 class="font-bold">
                            ${{subTotal}}.00
                        </h4>
                        <span>
                            Delivery Fee
                        </span>
                        <h4 class="font-bold">
                            ${{deliveryFee}}.00
                        </h4>
                        <span>
                            Total
                        </span>
                        <h2 class="font-bold">
                            ${{total}}.00
                        </h2>
    
                        <br>
                        <div class="m-t-sm">
                            <div class="btn-group">
                            <button  mat-flat-button color="accent" type="submit">Checkout</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
    </div>
</div>



