<div fxLayout="column">
    <div fxFlex>
        <app-toolbar-customer></app-toolbar-customer>
    </div>
    <div fxFlex>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container margin">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-9">
            <div class="ibox">
                <div class="ibox-title">
                    <span class="pull-right">(<strong>1</strong>) items</span>
                    <h5>Items in your cart</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">
                            <tbody>
                            <tr>
                                <td width="90">
                                    <img mat-card-image style="width:100px;" src="http://img.dxcdn.com/productimages/sku_543622_1.jpg">
                                </td>
                                <td class="desc">
                                    <h3>
                                    <a href="#" class="text-navy">
                                        Mobile stand
                                    </a>
                                    </h3>
                                    <p class="small">
                                        It is a a mobile stand.
                                    </p>
                                    <dl class="small m-b-none">
                                        <dt>Brand</dt>
                                        <dd>KOKO</dd>
                                    </dl>

                                    <dl class="small m-b-none">
                                        <dt>Color</dt>
                                        <dd>Pink</dd>
                                    </dl>

                                    <dl class="small m-b-none">
                                        <dt>Category</dt>
                                        <dd>STANDS</dd>
                                    </dl>
                                    <!-- class="m-t-sm" -->
                                    <div>
                                        <button mat-button><mat-icon color="warn">delete</mat-icon> Remove item</button>
                                    </div>
                                </td>

                                <td>
                                    $180,00
                                </td>
                                <td width="65">
                                    <input type="text" class="form-control" placeholder="1">
                                </td>
                                <td>
                                    <h4>
                                        $180,00
                                    </h4>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="ibox-content">
                    <button  mat-flat-button color="accent" (click)="checkout()">Checkout</button>
                    <button  mat-flat-button style="margin-left:10px;" color="primary" routerLink="/home">Continue shopping</button>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Cart Summary</h5>
                </div>
                <div class="ibox-content">
                    <span>
                        <label for="deliveryAddress">Delivery Address</label>
                        <input type="text" class="form-control" id="deliveryAddress">
                    </span>
                    <div  style="margin-top: 20px;"></div>
                    <span>
                        Subtotal
                    </span>
                    <h4 class="font-bold">
                        $180,00
                    </h4>
                    <span>
                        Delivery Fee
                    </span>
                    <h4 class="font-bold">
                        $20,00
                    </h4>
                    <span>
                        Total
                    </span>
                    <h2 class="font-bold">
                        $200,00
                    </h2>

                    <br>
                    <div class="m-t-sm">
                        <div class="btn-group">
                        <button  mat-flat-button color="accent" (click)="checkout()">Checkout</button>
                        <button  mat-flat-button style="margin-left:10px;" color="primary" routerLink="/home">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    </div>
</div>



