<div class="main-container">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<br>
<br>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-4">
            <div class="card-body">
              <form [formGroup]="loginForm" (ngSubmit)="signIn()">
                <h1>Login</h1>
                <p class="text-muted">Sign In to your account</p>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Username" formControlName="username">
                </div>
                <div class="input-group mb-3">
                  <input type="email" class="form-control" placeholder="Email" formControlName="email">
                </div>
                <div class="input-group mb-4">
                  <input type="password" class="form-control" placeholder="Password" formControlName="password">
                </div>
                <div class="row">
                  <button type="submit" mat-flat-button color="accent" class="btn px-4">Login</button>
                  <button type="button" mat-flat-button color="primary" style="margin-left:10px ;" class="btn px-4">Cancel</button>
                </div>
              </form>
            </div>
          </div>
          <div class="card text-white  py-5 d-md-down-none" style="width:44%; background-color: #512da8;">
            <div class="card-body  text-center " style="display:flex; align-items:center; justify-content:center;">
              <div>
                <h2>Sign up</h2>
                <p>New to Digital Vision?</p>
                <button type="button" mat-flat-button color="accent" routerLink="/register" class="btn  active mt-3">Register Now!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>




<!-- <div fxLayout="column" fxLayoutAlign="center center">
    <div fxFlex="50%">
        <div>Login</div>
    </div>
    <form [formGroup]="loginForm">
        <div fxFlex="50%">
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" required>
            </mat-form-field>
        </div>
        <div fxFlex="50%">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
            </mat-form-field>
        </div>
        <div fxFlex="50%">
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div fxFlex="50%">
            <button mat-stroked-button type="submit">Login</button>
        </div>
        <div fxFlex="50%">
            <button mat-button (click)="navigateToRegister()">Create a new account</button>
        </div>
    </form>
</div> -->


