<div>
    <div  class="main-container">
        <div fxFlex style="padding-top:20px">
            <button mat-flat-button style="margin-left:20px" color="accent" (click)="navigateToProductForm()">Create a new product</button>
            <button mat-flat-button style="margin-left:10px" color="accent" routerLink="/user-permission">User Permission</button>
        </div>
        <div class="child-1-container">
            <div class="search-form-field">
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>Search product</mat-label>
                    <input matInput placeholder="Search">
                    <!-- [(ngModel)]="query" (keyup)="getAllProducts()" -->
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
            <div class="fields">
                <mat-form-field appearance="fill" color="accent" floatLabel="always">
                    <mat-label>Minimum Price</mat-label>
                    <input matInput type="number" class="right-align" placeholder="0">
                    <!--  [(ngModel)]="minPrice" (keyup)="getAllProducts()" -->
                    <span matPrefix>$&nbsp;</span>
                    <span matSuffix>.00</span>
                </mat-form-field>
                <mat-form-field appearance="fill" color="accent" floatLabel="always">
                    <mat-label>Maximun Price</mat-label>
                    <input matInput type="number" class="right-align" placeholder="0" >
                    <!-- [(ngModel)]="maxPrice" (keyup)="getAllProducts()" -->
                    <span matPrefix>$&nbsp;</span>
                    <span matSuffix>.00</span>
                </mat-form-field>
            </div>
            <div class="fields">
                <p>Category</p>
                <mat-radio-group class="radio-group">
                    <!-- (onChange)="getAllProducts()" -->
                     <mat-radio-button class="radio-button" *ngFor="let category of categories" [value]="category" >
                        {{category}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div fxLayout="row wrap" >
            <div fxFlex="25%" *ngFor="let product of products" >
                <app-product-card [product]="product" [component]="component"></app-product-card>
            </div>
        </div>
        <div class="no-data-container" *ngIf="noProductData">
            <h4>No products found!</h4>
        </div>
    </div>
</div>
