.main-container{
    display: flex;
    flex-direction: row;
    width:100vw;
}

.child-1-container{
    display: flex;
    max-width: 20vw;
    flex-direction: column;
}


/* .sub-child{
  display: inline-block;
  height: 350px;
  width: calc(100% * (1/4) - 10px - 1px);
} */
.search-form-field{
    padding: 10px 10px 0px 10px;
    margin-left: 10px ;
}

.fields{
    padding-left: 10px;
    margin-left: 10px ;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
.radio-button {
   margin: 5px;
}

.right-align {
    text-align: right;
  }
  
  input.right-align::-webkit-outer-spin-button,
  input.right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.right-align {
    -moz-appearance: textfield;
  }
.no-data-container{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* .data-container{
    max-width:fit-content;
    max-height: fit-content;
     padding: 0px 0px 0px 0px; 
    margin: 0px 0px 0px 0px;} */