mat-card{
    width: 230px;
    height: 330px;
    margin-top: 20px;
    margin-left: 10px ;
}


.panel {
    border: none;
    box-shadow: none;
}

img{
    max-height: 200px;
}

.pro-img-box {
    position: relative;
}

a{
    color: white;
}


p{
    color: black;
}

mat-divider{
    border-top-width: 5px;
}