
<div style="padding-top: 40px;"></div>
<div class="container padding-bottom-3x mb-2">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10" style="width: 700px">
            <h2>Assign permission to a user.</h2>
            <form class="card mt-4" [formGroup]="permissionForm" (ngSubmit)="onSubmit()">
                <div class="card-body">
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Enter user</mat-label>
                            <mat-select formControlName="user">
                              <mat-option *ngFor="let user of users" [value]="user.id">{{user.email}}({{user.username}}) : {{user.role}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="formControls.user.errors && formControls.user.errors['required']">User is required.</mat-error>
                        </mat-form-field>
                    </div>
                    <div style="margin-left: 20px ;">
                        <div>
                            <input class="form-check-input" type="radio" value="USER" name="role" formControlName="role" id="permission1" >
                            <label class="form-check-label pt-1" for="permission1">Customer</label>
                        </div>
                        <div>
                            <input class="form-check-input" type="radio" value="ADMIN" name="role" formControlName="role" id="permission2" >
                            <label class="form-check-label pt-1" for="permission2">Administrator</label>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button mat-flat-button type="submit" color="accent" [disabled]="permissionForm.invalid"  class="left-spacing">Save</button>
                    <button mat-flat-button type="button" color="primary" routerLink="/home" style="margin-left: 20px;">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


