<div class="main-container">
    <mat-toolbar color="primary">
        <span style="padding-left: 45% ;">Digital Vision</span>
        <button mat-flat-button color="accent"  style="margin-left: 37% ;" (click)="logout()">Logout</button>
    </mat-toolbar>
    <mat-drawer-container>
        <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px">
            <div fxFlex style="padding-top:20px">
                <button mat-flat-button style="margin-left:20px" color="accent" (click)="navigateToProductForm()">Create a new product</button>
                <button mat-flat-button style="margin-left:10px" color="accent" routerLink="/user-permission">User Permission</button>
            </div>
            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
        
    </mat-drawer-container>
</div>



